name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  char-count:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Count characters in helloworld.py
        run: python scripts/count_char.py
  
